<template>
  <view class="login">
    <!-- 图片 -->
    <view class="login-img"
      ><img src="../../static/rql/logintx.png" alt=""
    /></view>
    <view class="phone">
      <div class="phone-one">
        <label>手机号:</label>
        <input type="number" placeholder="请输入手机号" v-model="phone" />
      </div>
      <br />
      <div class="phone-one">
        <label>密码:</label>
        <input type="password" placeholder="请输入密码" v-model="password" />
      </div>
    </view>
    <button class="btn" @click="jump">一键登录</button>
  </view>
</template>
<script>
import { login } from "@/rqlapi/login_api";
export default {
  data() {
    return {
      phone: "15538467301",
      password: "rql021106",
      token: "",
    };
  },
  methods: {
    // 登录跳转
    jump() {
      if (this.phone == "" || this.password == "") {
        uni.showToast({
          title: "不能为空",
          icon: "none",
        });
        return false;
      }
      login({ phone: this.phone, password: this.password }).then((res) => {
        // console.log(res);
        this.token = res.header;
        uni.setStorage({
          key: "token",
          data: this.token,
          success: function () {
            // console.log("success");
          },
        });
      });
      if (sessionStorage !== 0) {
        uni.redirectTo({
          url: "/pages/my/user",
        });
      }
    },
  },
};
</script>
<style lang="scss" scoped>
.login {
  height: 100vh;
  background-color: #f0261c;
  // 图片
  .login-img {
    width: 100%;
    height: 150px;
    text-align: center;
    img {
      width: 50px;
      margin-top: 30px;
    }
  }
  //   手机号
  .phone {
    height: 100px;
    padding: 20px;
    background-color: pink;
    input {
      display: inline-block;
      background-color: #fff;
    }
    .phone-one {
      display: flex;
      align-items: center;
    }
  }
  //   登录按钮
  .btn {
    width: 80%;
    margin-top: 20px;
    border-radius: 30px;
    background-color: #fff;
    color: #ff3138;
  }
}
</style>
