<template>
  <view class="my">
    <!-- 头部 -->
    <view class="top">
      <img src="../../static/rql/open.png" alt="" />
      <img src="../../static/rql/search.png" alt="" />
    </view>
    <!-- 头像 -->
    <view class="box">
      <view class="touxiang">
        <img src="../../static/rql/user.png" alt="" />
      </view>
      <view class="vip">
        <view class="vip-one">
          <h3>三个石头r</h3>
          <img src="../../static/rql/vip.png" alt="" />
        </view>
        <p>
          <span>6 关注</span>
          <span>1粉丝</span>
          <span>LV.10</span>
        </p>
      </view>

      <h3 @click="jump">退出登录></h3>
    </view>
    <!-- 主体 -->
    <view class="main">
      <view class="main-con" v-for="(item, index) in contentList" :key="index">
        <img :src="item.icon" alt="" /><br />
        <span>{{ item.title }}</span>
      </view>
    </view>
    <!-- 我喜欢的音乐 -->
    <view class="like">
      <view class="like-one">
        <view class="like-img">
          <img src="../../static/rql/like.png" alt="" />
        </view>
        <view class="like-txt">
          <span>我喜欢的音乐</span><br />
          <span>0首</span>
        </view>
      </view>
      <view class="like-two">
        <img src="../../static/rql/oval-love-two.png" alt="" />
        <span>心动模式</span>
      </view>
    </view>
    <!-- 创建/收藏歌单 -->
    <view class="create">
      <view @click="showCreate = 1" :class="{ active: showCreate == 1 }">
        创建歌单
      </view>
      <view @click="showCreate = 2" :class="{ active: showCreate == 2 }">
        收藏歌单
      </view>
    </view>
    <!-- 导入外部音乐 -->
    <view class="ipt">
      <view class="ipt-top">
        <span class="ipt-left">创建歌单</span>
        <view class="ipt-right">
          <span class="ipt-j">+</span>
          <img src="../../static/rql/more-one.png" alt="" />
        </view>
      </view>
      <view class="ipt-bottom">
        <view class="ipt-img">
          <img src="../../static/rql/afferent-two.png" alt="" />
        </view>
        <span class="ipt-txt">一键导入外部音乐</span>
      </view>
    </view>
    <!-- 收藏歌单 -->
    <view class="collection">
      <span class="ipt-left">创建歌单</span>
      <img src="../../static/rql/more-one.png" alt="" />
    </view>

    <view class="footer"> </view>
  </view>
</template>

<script>
export default {
  data() {
    return {
      contentList: [
        {
          title: "最近播放",
          icon: "../../static/rql/play.png",
          path: "",
        },
        {
          title: "本地/下载",
          icon: "../../static/rql/performance.png",
          path: "",
        },
        {
          title: "云盘",
          icon: "../../static/rql/upload-one.png",
          path: "",
        },
        {
          title: "已购",
          icon: "../../static/rql/shopping-bag.png",
          path: "",
        },
        {
          title: "我的好友",
          icon: "../../static/rql/shoucang.png",
          path: "",
        },
        {
          title: "收藏和赞",
          icon: "../../static/rql/star.png",
          path: "",
        },
        {
          title: "我的播客",
          icon: "../../static/rql/broadcast.png",
          path: "",
        },
        {
          title: "音乐罐子",
          icon: "../../static/rql/perfume.png",
          path: "",
        },
      ],
      showCreate: 1,
      token: "",
    };
  },
  methods: {
    jump() {
      uni.removeStorage({
        key: "token",
        success: function (res) {
          uni.redirectTo({
            url: "/pages/my/login",
          });
        },
      });
    },
  },
};
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  list-style: none;
}
.my {
  height: 100vh;
  padding: 12px;
  background-color: #f6f6f6;
  // 头部
  .top {
    height: 50px;
    display: flex;
    justify-content: space-between;
    img {
      width: 30px;
      height: 30px;
    }
  }
  // 头像
  .box {
    width: 100%;
    height: 100px;
    margin-top: 30px;
    background-color: #fff;
    border-radius: 15px;
    position: relative;
    .touxiang {
      width: 40px;
      height: 40px;
      overflow: hidden;
      text-align: center;
      // background-color: #f6f0f0;
      img {
        width: 70px;
        display: block;
        border-radius: 50%;
        position: absolute;
        left: 39%;
        top: -35%;
        z-index: 99999;
      }
    }
    .vip {
      width: 100%;
      height: 60px;
      .vip-one {
        width: 165px;
        height: 30px;
        margin: 0 auto;
        display: flex;
        h3 {
          width: 90px;
        }
        img {
          width: 75px;
          height: 25px;
          border-radius: 20px;
        }
      }
      p {
        text-align: center;
      }
    }
    h3 {
      width: 100%;
      height: 50px;
      text-align: center;
      // background-color: blue;
    }
  }
  // 主体
  .main {
    height: 170px;
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 15px;
    .main-con {
      width: 25%;
      height: 75px;
      text-align: center;
      margin-top: 10px;
      img {
        width: 45px;
        height: 45px;
      }
    }
  }
  // 我喜欢的音乐
  .like {
    height: 90px;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .like-one {
      display: flex;
      .like-img {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 7px;
        background-color: #9b9b9b;
        img {
          width: 30px;
          height: 30px;
        }
      }
      .like-txt {
        margin-left: 10px;
      }
    }
    .like-two {
      width: 85px;
      border: 1px solid #ccc;
      border-radius: 30px;
      padding: 5px 10px;
      img {
        width: 20px;
        vertical-align: middle;
      }
    }
  }
  // 创建/收藏歌单
  .create {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .active {
    font-weight: 700 !important;
    border-bottom: 5px solid red !important;
  }
  // 导入外部音乐
  .ipt {
    height: 100px;
    border-radius: 15px;
    background-color: #fff;
    padding: 10px;
    .ipt-top {
      height: 30px;
      box-sizing: border-box;
      .ipt-left {
        float: left;
      }
      .ipt-right {
        float: right;
        .ipt-j {
          font-size: 37px;
          color: #9b9b9b;
        }
        img {
          width: 30px;
          float: right;
        }
      }
    }
    .ipt-bottom {
      width: 100%;
      height: 70px;
      padding-top: 15px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      .ipt-img {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 7px;
        background-color: #f2f2f2;
        img {
          width: 30px;
          height: 30px;
        }
      }
      .ipt-txt {
        margin-left: 10px;
      }
    }
  }
  // 收藏歌单
  .collection {
    height: 100px;
    border-radius: 15px;
    background-color: #fff;
    padding: 10px;
    margin-top: 20px;
    img {
      width: 30px;
      float: right;
    }
  }

  .footer {
    height: 1000px;
  }
}
</style>
